@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg: #222229; /* used in SVG */
  --gap: 0.5rem;
  --heading-font: Michroma, sans-serif;
}

body {
  padding: var(--gap);
  background: var(--bg);
  color: #DDD;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-areas:
    'logo header'
    'sidebar main'
    'footer footer';
  gap: var(--gap);

  height: 100vh;
  height: 100dvh;
}

body.debug {
  --bg: darkred;
}

h1, h2 {
  font-family: var(--heading-font);
  font-weight: 400;
}

a:link, a:visited {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #E23D75;
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
}

.section {
  border: 1px solid currentcolor;
}

.section h2 {
  padding: calc(var(--padding) / 2) var(--padding);
}

.logo {
  grid-area: logo;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: currentcolor;
}

.header {
  grid-area: header;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: var(--gap);
}

.header h1 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  flex: 1;
}

.block-info {
  text-align: right;
}

.sidebar {
  --padding: 0.5rem;

  grid-area: sidebar;

  display: flex;
  flex-direction: column;

  min-width: 20rem;
}

.sidebar h2 {
  font-size: 18px;

  border-bottom: 1px solid currentcolor;
}

.main {
  --padding: 1rem;

  grid-area: main;

  display: flex;
  flex-direction: column;
}

.main h2 {
  border-bottom: 1px solid currentcolor;
}

.footer {
  grid-area: footer;
  padding: 0.5rem;
}

.card-list {
  padding: 0;
  margin: 0;

  list-style: none;
  counter-reset: count;

  overflow-y: auto;
}

.card {
  position: relative;
  padding: 0.5rem;
  counter-increment: count;
  border-bottom: 1px solid hsla(from currentcolor h s l / 0.25);
}

.card::before {
  position: absolute;
  top: 0;
  right: 0;
  font-size: smaller;
  padding-right: 0.4em;
  content: counter(count, decimal);
}

.main .card {
  display: grid;
  grid-template-columns: 3.5em 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'count name'
    'count notes';
  align-items: center;

  font-size: 140%;
}

.main .card::before {
  position: static;
  grid-area: count;
  padding-right: 0.6em;
  font-family: var(--heading-font);
  font-size: 140%;
  text-align: center;
  align-self: start;
}

.note {
  font-size: max(50%, 10px);
  color: hsla(from currentcolor h s l / 0.5);
}

.block {
  display: block;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-icon {
  filter: hue-rotate(var(--hue-rotate));
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'logo'
      'header'
      'main'
      'sidebar'
      'footer';
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .block-info {
    text-align: inherit;
  }
}
